/* body reset */
body {
    margin: 0;
    padding: 0;
}
/* Navigation */
nav {
    background-color: #111;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9999;
}
nav a.brand {
    margin: 10px 50px;
}
nav ul {
    margin: 10px 50px;
}
nav ul li{
    display: inline;
    margin-left: 10px;
}
/* Header */
.home-header {
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
}
.home-header::after {
    content: '';
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    filter: grayscale(50%);
    background-image: url('../images/forest.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
}
.spacer {
    width: 50%;
}
.banner {
    color: #fff;
}
.banner h1 {
    color: #CFBC82;
}
.banner h2 {
    color: #CFBC82;
}
.banner a {
    background-color: #CFBC82;
    color: #5C664C;
    border-radius: 5px;
    text-decoration: none;
    padding: 10px 30px;
    margin-right: 10px;
}
.banner a:hover {
    background-color: #5C664C;
    color: #CFBC82;
}
.spacer {
    width: 50%;
}