div, header, nav, section, article, aside, footer {
    border-width: 1px;
    border-style: solid;
    border-color: black;
}
header, nav, section, article, aside, footer {
    padding: 5px;
}
.container {
    width: 1000px;
}
header {
    background-color: blanchedalmond;
    height: 100px;
}
nav {
    background-color: gray;
    height: 50px;
}
.wrapper {
    width: 588px;
    float: left;
}
section {
    background-color: paleturquoise;
    height: 100px;
}
article {
    background-color: palevioletred;
    height: 100px;
}
aside {
    background-color: peru;
    height: 214px;
    width: 398px;
    float: left;
}
footer {
    background-color: lavender;
    height: 100px;
    clear: both;
}